<div class="card mt-5 mb-5">
        <div class="card-body pl-5 pr-5">          
            <form [formGroup]="pollCreateForm" (submit)="addPoll()">
                <p class="h5 text-center mb-4">Create Poll</p>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Poll Question *" formControlName="pollname" name="pollname">
                </div>
                <div class="form-group row">
                <div class="file-field">
                    <div class="btn btn-primary btn-sm waves-light" mdbRippleRadius>
                        <span>Choose file</span>
                        <input type="file" formControlName="pollImage" (change)="fileEvent($event)">
                    </div>
                    
                </div>
                <div class="r">
                        <img *ngIf="imageurlstatus" [src]="imageUrl" width="200" height="200">
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <mdb-select formControlName="selectedPollType" name="selectedPollType" [options]="pollType" placeholder="Type of Selection *" class="colorful-select dropdown-primary"></mdb-select>
                </div>-->
                <div class="form-group row">
                    <div class="switch">
                        <label>
                            Status Off
                            <input formControlName="pollStatus" name="pollStatus" type="checkbox">
                            <span class="lever"></span>
                            Status On
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="switch">
                        <label>
                            Trending Off
                            <input formControlName="trending" name="trending" type="checkbox">
                            <span class="lever"></span>
                            Trending On
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="switch">
                        <label>
                            Display in Home Off
                            <input formControlName="displayhome" name="displayhome" type="checkbox">
                            <span class="lever"></span>
                            Display in Home On
                        </label>
                    </div>
                </div>
                <!--<div class="form-group row">               
                    <mdb-date-picker name="pollFromDate" [options]="myDatePickerOptions" [placeholder]="'Select From date'" formControlName="pollFromDate"></mdb-date-picker>
                </div>
                <div class="form-group row">               
                    <mdb-date-picker name="pollToDate" [options]="myDatePickerOptions" [placeholder]="'Select To date'" formControlName="pollToDate"></mdb-date-picker>
                </div>-->
                <div class="form-group row">
                    <mdb-select formControlName="pollCategoryid" name="pollCategoryid" [options]="categotylist" placeholder="Choose Category *" class="colorful-select dropdown-primary"></mdb-select>
                </div>
                <label>Poll Options *</label>
                <div formArrayName="pollOption">
                    <div *ngFor="let itemrow of pollCreateForm.controls.pollOption.controls; let i=index"  [formGroupName]="i">
                        <div class="form-group">
                            <i *ngIf="pollCreateForm.controls.pollOption.controls.length > 1" (click)="deleteRow(i)" class="fa fa-remove prefix grey-text"></i> 
                            <input formControlName="itemname" placeholder="Option {{ i + 1 }}" class="form-control">
                        </div>
                    </div>
                    <button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success waves-light" mdbRippleRadius>Create</button>
                </div>
              </form> 
        </div>

    </div>