<div class="card m-5" *ngFor="let p of pollList">
  <div class="card-body">
    <h4 class="text-center mb-4">{{p.categoryname[0].name}}</h4>
    <p class="h5 text-center mb-4">{{p.name}}</p>
    <form class="form-inline" (submit)="putVote(p._id)">
        <div class="form-check" *ngFor="let o of p.options; let i = index">
            <input class="form-check-input" name="polloption" type="radio" [value]="o.itemname" [(ngModel)]="polloption[p._id]" id="{{p._id+i}}">
            <label class="form-check-label" for="{{p._id+i}}">{{o.itemname}}</label>
        </div>
        <button class="btn purple-gradient btn-rounded" type="submit">Purple</button>
    </form>
  </div>
</div>


        