<app-nav-bar></app-nav-bar>
<app-category-nav></app-category-nav>


	<section>
		<div class="content-middle">
			<div class="text container">
				<h4>WELCOME TO THE SED UT PERSPICIATIS UNDE OMNI</h4>
				<h1>Leap into electronic typesetting</h1>
				<h1>The Standard chunck of lorem ipsum</h1>
			</div>
			<div class="polls-tab">
				<div class="polls-tab-img"></div>
				<div class="container">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified indigo" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" role="tab">FEATURED POLL</a>
					</li>
				</ul>
				</div>
				<!-- Tab panels -->
				<div class="tab-repeat" *ngFor="let p of pollList; let i = index">
					<div class="container">
					<div class="row">
					<div class="col-md-7">
						<div class="tab-content">
							<!--Panel 1-->
							<div class="tab-pane fade in show active" role="tabpanel">
								<br>
								<p>{{p.name}}</p>
								<form class="form-inline" (submit)="putVote(p._id,0)" >
									<div class="form-check" *ngFor="let o of p.options; let i = index">
										<input class="form-check-input" name="polloption" type="radio" [value]="o.itemname" [(ngModel)]="polloption[p._id]" id="{{p._id+i}}">
										<label class="form-check-label" for="{{p._id+i}}">{{o.itemname}}</label>
									</div>
										<button class="btn purple-gradient btn-rounded"  type="submit" *ngIf="voteBtn[i][p._id]">VOTE</button>
								</form>
	
								<div class="share-vote">
									<ul class="share-vote-icons"><span>Share Your Vote</span>
									  <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
									  <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
									  <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
									  <li class="last_icon"><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
								   </ul>
								</div>
							</div>
						</div>
					</div>
						<!--/.Panel 1-->
						<div class="col-md-5">
							<div cass="polls-image">
								<img [src]="p.image" alt="poll">
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
			</div>
		<div class="impact-view-more">
			<div class="container">
				<div class="view-more-view">
					<h2>Standard Chunk Of Lorem Ipsum Used Popular belief, Lorem Ipsum</h2>
					<button type="button" class="btn">View more</button>
				</div>
				<hr>
			</div>
		</div>


	</section>
	
	<section>
		
	</section>


<app-category-content></app-category-content>	
<app-footer></app-footer>
<div *ngIf="isModalForUser" [config]="{ show: true }" (onHidden)="onHiddenuser()" mdbModal #autoShownModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title pull-left">Successfully Voted</h4>
				<p>Please fill the given details to get your polling result</p>
                <button type="button" class="close pull-right" aria-label="Close" (click)="onHiddenuser()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
					<div class="md-form">
						<i class="fa fa-mobile prefix grey-text"></i>
						<input  name="mobile" [(ngModel)]="mobile" type="password" id="mobile" class="form-control" mdbActive>
						<label for="mobile">Old Password</label>
					</div>
					<div class="md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input [(ngModel)]="email" name="email" type="text" id="orangeForm-email" class="form-control" mdbActive>
						<label for="orangeForm-email">User email*</label>
					</div>
					<div class="text-center">
						<button type="button" (click)="updateVoter()" class="btn btn-deep-orange waves-light" mdbRippleRadius>Update</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" mdbModal #autoShownModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Auto shown modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="onHidden()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: block">
					<canvas mdbChart 
						[chartType]="chartType"
						[datasets]="chartDatasets" 
						[labels]="chartLabels"
						[colors]="chartColors"
						[options]="chartOptions"
						[legend]="true"
						(chartHover)="chartHovered($event)" 
						(chartClick)="chartClicked($event)">
					</canvas>
				</div>
            </div>
        </div>
    </div>
</div>

		
