<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <mdb-sidenav #sidenav class="fixed" [fixed]="true">
      <logo>
          <!-- Logo -->
          <li>
              <div class="logo-wrapper waves-light">
                  <a href="#">
                      <img src="http://mdbootstrap.com/img/logo/mdb-transparent.png" class="img-fluid flex-center">
                  </a>
              </div>
          </li>
          <!--/. Logo -->
      </logo>
      <links>
          <!-- Side navigation links -->
          <li>
              <ul class="collapsible collapsible-accordion">
                  <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                      <!-- Collapsible link -->
                      <mdb-item>
                          <mdb-item-head mdbRippleRadius>
                              <i class="fa fa-chevron-right"></i> Category</mdb-item-head>
                              <mdb-item-body>
                                  <ul>
                                      <li>
                                          <a [routerLink]="['/admin', {outlets: {adminchild: ['category']}}]" class="waves-effect" mdbRippleRadius>Manage Category</a>
                                      </li>
                                  </ul>
                              </mdb-item-body>
                      </mdb-item>
                      <mdb-item>
                        <mdb-item-head mdbRippleRadius>
                            <i class="fa fa-chevron-right"></i> Poll</mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect" [routerLink]="['/admin', {outlets: {adminchild: ['pollcreate']}}]" mdbRippleRadius>Creare Poll</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect" [routerLink]="['/admin', {outlets: {adminchild: ['pollmanage']}}]" mdbRippleRadius>Manage Poll</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                    </mdb-item>
                    <mdb-item>
                      <mdb-item-head mdbRippleRadius>
                          <i class="fa fa-chevron-right"></i> Users</mdb-item-head>
                          <mdb-item-body>
                              <ul>
                                  <li>
                                      <a href="#" class="waves-effect" mdbRippleRadius>Creare User</a>
                                  </li>
                                  <li>
                                      <a href="#" class="waves-effect" mdbRippleRadius>Manage Users</a>
                                  </li>
                              </ul>
                          </mdb-item-body>
                  </mdb-item>
                  </mdb-squeezebox>
              </ul>
          </li>
          <!--/. Side navigation links -->
      </links>
  </mdb-sidenav>
  <!--/. Sidebar navigation -->
  <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
      <links>
          <!-- SideNav slide-out button -->
          <div class="float-xs-left">
              <a (click)="sidenav.show()" class="button-collapse">
                  <i class="fa fa-bars"></i>
              </a>
          </div>
          <!--/. SideNav slide-out button -->
      </links>
      <links>
          <ul class="nav navbar-nav nav-flex-icons ml-auto ">
              <li class="nav-item">
                  <a class="nav-link waves-light" mdbRippleRadius>
                      <i class="fa fa-home"></i>
                      <span class="clearfix d-none d-sm-inline-block">Home</span>
                  </a>
              </li>
              <li class="nav-item dropdown btn-group" dropdown>
                  <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>Dropdown</a>
                  <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="#">Sign Out</a>
                  </div>
              </li>
          </ul>
      </links>
  </mdb-navbar>
  <!--/. Navbar -->
</header>