<app-nav-bar></app-nav-bar>

    <div class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-7 content-lft">
                    <h3>
                        Media	Inquires
                    </h3>
                    <p>Contact	Nation	Pulse	for	poll	data	or	interviews
                      </p>
                    <h4><b>Journalists	and	media	professionals:</b></h4>
                    <p>We	are	happy	to	discuss	our	research	and	a	broad	range	of	topics	including public	opinion</p>
                    <p>To	request	an	interview	with Nation	Pulse,	please	email	<b>mediaquery@nationpulse.in</b></p>
                    <h4><b>Data	requests:</b></h4>
                    <p>For	assistance	with	polling	or	survey	data	related	to Nation	Pulse	
                        publishings,	please	email	<b>dataquery@nationpulse.in</b></p>
                </div>
                <div class="col-md-5 img-rgt">
                   <div class="img-rgt-first"> <img src="img/media_2.jpg" alt="what_we_do_2"></div>
                    <div class="img-rgt-second"><img src="img/media-1.jpg" alt="what_we_do_1"></div> 
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>