<footer>
		<div class="container">
			<div class="footer-content">
				<div class="row">
					<div class="col-12 col-polls-content6 col-sm-6">
						<p>2018 Nation Pluse, All rights reserved</p>
					</div>
					<div class="col-12 col-6 col-sm-6">
					<div class="header-col right header_top">
					   <div class="header-tools">
						   <ul class="icons">
								  <li><a href="https://www.facebook.com/nationpulse"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
								  <li><a href="https://twitter.com/NationPulse_In"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
								  <!--
								  <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>-->
								  <li class="last_icon"><a href="https://www.youtube.com/channel/UCt4BNLkXn37rHtZpxpYYy6A?view_as=subscriber"><i aria-hidden="true" class="fa fa-youtube"></i></a></li>
								  <li><a href="#">Privacy Statement</a></li>
						   </ul>
					   </div>
						</div>   <!-- / end .nav-buttons -->
					</div>
				</div>
			</div>
		</div>
	</footer>