<app-nav-bar></app-nav-bar>
<div class="main_np_intelligence">
    <section>
        <div class="content-middle">
            <div class="container">
              <div class="row">
                <div class="col-md-12 intelligance-content">
                    <h1>Nation Pulse Intelligence</h1>
                  <h2>Shape	your	decision-making	strategy	with	access	to data that	is	sourced	from	a	
                    targeted	audience.	
                    </h2>
                      <h4>We	gather	the	opinions	of	voters,	customers,	youth,	audiences and	citizens	on	a	wide	range	
                            of	issues.
                        </h4>
        
                </div>
                <div class="intelligance-bg">
                    <p>To	learn	more	about	the	Nation	Pulse Polls or	to	request	a	quote,	fill	out	the	form	below,	
                            and	a	Nation	Pulse representative	will	contact	you</p>
                    <app-contact-form [type]="'npintelligence'"></app-contact-form>
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
<app-footer></app-footer>
