<app-nav-bar></app-nav-bar>
<app-category-nav [type]="'poll'"></app-category-nav>
<section>
  <div class="polls-content">
    <div class="container">
      <div class="trending-polls">
          <div class="row">
              <div class="tab-repeat" *ngFor="let p of pollList; let i = index">
                  <div class="container">
                  <div class="row">
                  <div class="col-md-7 col-12">
                    <div class="tab-content">
                        <br>
                        <p>{{p.name}}</p>
                        <form class="form-inline" (submit)="putVote(p._id,i,p)" >
                          <div class="form-check" *ngFor="let o of p.options; let i = index">
                            <input class="form-check-input" name="polloption" type="radio" [value]="o.itemname" [(ngModel)]="polloption[p._id]" id="{{p._id+i}}">
                            <label class="form-check-label" for="{{p._id+i}}">{{o.itemname}}</label>
                          </div>
                          {{i}}
                            <button class="btn purple-gradient btn-rounded"  type="submit" *ngIf="voteBtn[i][p._id]">VOTE</button>
                        </form>
          
                        <div class="share-vote">
                          <ul class="share-vote-icons"><span>Share Your Vote</span>
                            <li><a ceiboShare  [facebook]="{u: repoUrl}"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                            <li><a ceiboShare  [twitter]="{url:repoUrl, text:'Checkout this awesome Poll site', hashtags:'poll'}"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                            <li><a ceiboShare  [googlePlus]="{url:repoUrl}"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                            <li class="last_icon"><a ceiboShare  [linkedIn]="{url:repoUrl}"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                           </ul>
                        </div>                     
                    </div>
                  </div>
                    <div class="col-md-5">
                      <div class="polls-image">
                        <img [src]="p.image" alt="poll">
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
          </div>
      </div>
    </div> 
  </div> 
</section>