<app-nav-bar *ngIf="navbar"></app-nav-bar>
<section *ngIf="pollListing && pollListing.length==0">
	<div class="polls-content">
		<div class="container">
			<div class="trending-polls">
				<h2>Result will publish on 10th May 2018</h2>
			</div>
		</div>
	</div>
</section>
<section *ngIf="pollListing">
		<div class="polls-content">
			<div class="container">
				<div class="trending-polls">
					<h2>Published <span>Polls</span></h2>
					  <div class="row">
						 <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" *ngFor="let p of pollListing">
							<div></div>
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img (click)="showPoll(p)" width="260" height="203" [src]="p.image" alt="image_1">
									<!--<span>Vote: ({{p.pollcount.length}})</span>-->
								</div>
								<a (click)="showPoll(p)"><p>{{p.name}}</p></a>
								<!--
								<div class="date-time">
									<i class="fa fa-clock-o" aria-hidden="true"></i> {{p.createdon | date}}
								</div>-->
							</div>
						  </div>
					  </div>
				</div>
			</div> <!-- container -->
		</div> <!-- polls-content -->
  </section>
  <app-footer></app-footer>
	<div *ngIf="isModalForUser" [config]="{ show: true }" (onHidden)="onHiddenuser()" mdbModal #autoShownModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<p>Please fill the given details to get your polling result</p>
                <button type="button" class="close pull-right" aria-label="Close" (click)="onHiddenuser()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
					<div class="md-form">
						<i class="fa fa-mobile prefix grey-text"></i>
						<input  name="mobile" [(ngModel)]="mobile" type="text" id="mobile" class="form-control" mdbActive>
						<label for="mobile">Please Provide Your Mobile</label>
					</div>
					<div class="md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input [(ngModel)]="email" name="email" type="text" id="orangeForm-email" class="form-control" mdbActive>
						<label for="orangeForm-email">Please Provide Your Email</label>
					</div>
					<div class="text-center">
						<button type="button" (click)="updateVoter()" class="btn btn-deep-orange waves-light" mdbRippleRadius>Update</button>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" mdbModal #autoShownModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title pull-left">Poll Result</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="onHidden()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
      <div style="display: block" *ngIf="chartDisplay">
        <canvas mdbChart  
          [chartType]="chartType"
          [datasets]="chartDatasets" 
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div *ngIf="!chartDisplay">
        <p>Result will publich later</p>
      </div>
          </div>
      </div>
  </div>
</div>