
 .form-group i {
    margin-top: 4px !important;
    margin-left: 20px;
}
 input {
    margin-left: 17px !important;
}
 textarea {
    margin-left: 21px !important;
}
 label.form-check-label {
    color: #717274;
    /* line-height: 26px !important; */
    font-style: italic;
    font-size: 18px;
}
.form-check {
    margin-bottom: 20px;
}
button.btn.btn-danger {
    text-transform: capitalize;
    font-size: 18px;
}
i.fa.fa-pencil {
    margin-top: 7px;
    margin-left: 26px;
}