<app-nav-bar></app-nav-bar>

    <div class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-7 content-lft">
                    <h3>
                      Nation Pulse Polls
                    </h3>
                    <p>Go beyond traditional, hit-or-miss campaigns to truly understand your current and potential voters.</p>
                    <p>With intelligence data such as the voters’ preferred political party, preferred candidate, indepth analytics on what pressing issues are faced on a daily basis, what areas and topics are potential game changers. The Nation Pulse political polls are an ocean of rich information on voter behavior and their leanings in current election seasons.</p>
                    <p><a [routerLink]="['/contactus']">Contact us to reach us</a> for more information on data that could help you strategize a winning campaign.</p>
                    <p><span class="primary-text">Better understand the voters to create emotional connections and drive loyalty and long-term patronage</span></p>
                    <p><span class="primary-text">Assembly and Parliament constituency specific data</span></p>
                    <p><a [routerLink]="['/contactus']">Reach us</a> to learn more about how we can help you achieve your goal</p>
                </div>
                <div class="col-md-5 img-rgt">
                   <div class="img-rgt-first"> <img src="img/what_we_do_2.jpg" alt="what_we_do_2"></div>
                    <div class="img-rgt-second"><img src="img/what_we_do_1.jpg" alt="what_we_do_1"></div> 
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>