
<section class="form-elegant">

    <!--Form without header-->

    <div class="card" *ngIf="show && !forgot">

        <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Sign In</strong></h3>
            </div>
            <div class="md-form">
                <flash-messages></flash-messages>
            </div>
            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email1" [(ngModel)]="mobile" class="form-control" mdbActive>
                <label for="Form-email1">Your mobile</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" [(ngModel)]="password" id="Form-pass1" class="form-control" mdbActive>
                <label for="Form-pass1">Your password</label>
                <p class="font-small blue-text d-flex justify-content-end"><a (click)="forgot = !forgot" class="blue-text ml-1">Forgot Password?</a></p>
            </div>

            <div class="text-center mb-3">
                <button type="button" (click)="onLoginSubmit()" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign In</button>
            </div>
            
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

                <div class="row my-3 d-flex justify-content-center">

                    <button style="background: #3b5998" (click)="signIn('facebook')" type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-facebook blue-text text-center"></i></button>
                    <button style="background: #d34836" (click)="signIn('google')" type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus blue-text"></i></button>
                </div>
            
        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Not a member? <a (click)="show = !show" class="blue-text ml-1"> Sign Up</a></p>
        </div>

    </div>
    <div class="card" *ngIf="!show && !forgot">

        <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Sign Up</strong></h3>
            </div>
            <div class="md-form">
                <flash-messages></flash-messages>
            </div>
            <!--Body-->
            <form [formGroup]="userCreateForm" (submit)="addUser()">
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input formControlName="name" name="name" type="text" id="orangeForm-name" class="form-control" mdbActive>
                <label for="orangeForm-name">Your name*</label>
            </div>
            <div class="md-form">
                <i class="fa fa-mobile prefix grey-text"></i>
                <input formControlName="mobile" name="mobile" type="text" id="orangeForm-mobile" class="form-control" mdbActive>
                <label for="orangeForm-mobile">Your mobile*</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input formControlName="email" name="email" type="text" id="orangeForm-email" class="form-control" mdbActive>
                <label for="orangeForm-email">Your email*</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input formControlName="password" name="password" type="password" id="orangeForm-pass" class="form-control" mdbActive>
                <label for="orangeForm-pass">Your password*</label>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input  name="passwordre" type="password" formControlName="passwordre" id="passwordre" class="form-control" mdbActive>
                <label for="passwordre">Confirm Password</label>
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign Up</button>
            </div>
        </form>
            
            <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

                <div class="row my-3 d-flex justify-content-center">

                    <button style="background: #3b5998" (click)="signIn('facebook')" type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-facebook blue-text text-center"></i></button>
                    <button style="background: #d34836" (click)="signIn('google')" type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus blue-text"></i></button>
                </div>
        
        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Already a member? <a (click)="show = !show" class="blue-text ml-1"> Sign In</a></p>
        </div>

    </div>
    <div class="card" *ngIf="forgot">

        <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Forgot Password</strong></h3>
            </div>
            <div class="md-form">
                <flash-messages></flash-messages>
            </div>
            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email2" [(ngModel)]="forgotemail" class="form-control" mdbActive>
                <label for="Form-email2">Your Email</label>
            </div>
            <div class="text-center mb-3">
                <button type="button" (click)="forgotPassword()" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Reset Password</button>
            </div>
        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Already a member? <a (click)="forgot = !forgot" class="blue-text ml-1"> Sign In</a></p>
        </div>

    </div>
    <!--/Form without header-->

</section>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" mdbModal #autoShownModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" #style="mdb-modal" id="centralModalSuccess">
        <div class="modal-dialog modal-notify modal-info">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading lead">Modal Success</p>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>
                <form>
                <div class="modal-body">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input [(ngModel)]="email" name="email" type="email" id="materialFormCardEmailEx" class="form-control" mdbActive>
                        <label for="materialFormCardEmailEx" class="font-weight-light">*Email</label>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                  <a type="button" (click)="updateCategory(updatecategotyid)" class="btn btn-primary-modal waves-light" mdbRippleRadius>Update <i class="fa fa-diamond ml-1"></i></a>
                  <a type="button" class="btn btn-outline-secondary-modal" data-dismiss="modal" (click)="style.hide()" mdbRippleRadius>Cancle</a>
                </div>
              </form>
            </div>
        </div>
      </div>
            