<app-nav-bar></app-nav-bar>

    <div class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-7 content-lft">
                    <p>Nation	Pulse	is	an Unbiased,	Unflinching,	Unabashed	platform	for	all	citizenry	to	put	forth	
                            their	opinions	on	a	range of	topics	ranging	from	politics,	education,	business,	
                            entertainment	and	sports.</p>
                    <p>With	our	polls	we	derive	opinions	and	analytics	that	are	helpful	to	leaders	and	
                            organizations	to	strategize	their	success	stories.</p>
                    <p>Nation	Pulse	knows	best	about	the	attitudes	and	behavior	of	voters,	customers,	youth,	
                            audiences,	and	citizens</p>
                    <p>Nation	Pulse’s	strength	is	understanding	people	and	what	matters	most	to	them	in	their	life</p> 
                    <p>That	strength	allows	us	to	create	transformation	in	the	nation. Human	behavioral	patterns	
                            help us	in	building	better	societies that	are	inclusive	and	happy.	
                            </p>
                    <p>Make	better	decisions	by	accessing	the	data	from	our	polls or	make	a	custom	poll	with	your	
                            questions.	<a routerLink="/contactus">Contact	us</a> for	more	information.</p>
                    <p>Get	in	touch	to	learn	more	about	how	we	can	help	you	achieve	your	goals.</p>
                </div>
                <div class="col-md-5 img-rgt">
                   <div class="img-rgt-first"> <img src="img/what_we_do_2.jpg" alt="what_we_do_2"></div>
                    <div class="img-rgt-second"><img src="img/what_we_do_1.jpg" alt="what_we_do_1"></div> 
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>