body {
    background: #f5f6fa;
}
.what-we-do .content-lft h3 {
    color: #466bbb;
    font-size: 25px;
    font-weight: 500;
}
.img-rgt-first {
    margin-left: 144px;
}
.col-md-6.img-rgt {
    position: relative;
}
.img-rgt-second {
    position: absolute;
    bottom: -60px;
    left: 10px;
}
.what-we-do {
    padding: 30px 10px 90px;
}
.col-md-7.content-lft p {
    color: #544d4d !important;
    font-size: 20px;
    font-weight: 400;
}