<app-nav-bar></app-nav-bar>

    <div class="what-we-do">
        <div class="container">
            <div class="row">
                <div class="col-md-7 content-lft">
                    <p>Do you prefer to live in downtown or in the suburbs? Do you follow the latest trends in fashion? Do you prefer to live-in with your partner for sometime before you marry them? Coffee or tea, what’s your indulgence? Do you prefer to live in a joint family or nuclear family? At what age should one start responsible finance planning in life? How important is family time when compared to work, friends and me time? What kind of music do you like? Which is your favorite holiday destination?</p>   
                    <p>From peoples’ living preferences to their choice of music, from their favorite cuisines to preferred holiday destinations. Nation Pulse Lifestyle Polls is the stage for the citizens of the country to put forth their opinions on all aspects concerning and affecting their lifestyles. This insight gives policy makers and every business leader to bring out programs that give citizens a better living environment, thus enriching their lifestyles.</p>
                </div>
                <div class="col-md-5 img-rgt">
                   <div class="img-rgt-first"> <img src="img/what_we_do_2.jpg" alt="what_we_do_2"></div>
                    <div class="img-rgt-second"><img src="img/what_we_do_1.jpg" alt="what_we_do_1"></div> 
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>