<app-nav-bar></app-nav-bar>
<section>
		<div class="polls-content">
			<div class="container">
                <div class="row">
                    <div class="col col-sm-12">
                        <h3>{{categorySlug.name}}</h3>
                        <p [innerHtml]="categorySlug.content | newline"></p>
                    </div>
                </div>
				<div class="trending-polls">
					<h2>TRENDING <span>POLLS</span></h2>
					  <div class="row">
						 <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_1.jpg" alt="image_1">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>UfM promotes projects with gender mainstreaming policy</p></a>
								<div class="date-time">
									<i class="fa fa-clock-o" aria-hidden="true"></i> 07 March 2018
								</div>
							</div>
						  </div>
						 <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_2.jpg" alt="image_2">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>EUPOL facilitates gender-based voilence training in palestine</p></a>
								<div class="date-time">
									<i class="fa fa-clock-o" aria-hidden="true"></i> 06 March 2018
								</div>
							</div> 
						 </div>
						 <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_3.jpg" alt="image_3">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>Anna Lindh foundation launches the 11th literary contest</p></a>
								<div class="date-time">
								<i class="fa fa-clock-o" aria-hidden="true"></i> 05 March 2018
								</div>
							</div>
						 </div>
						 <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_4.jpg" alt="image_4">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>EU high representative Federica Mogherini to visit Ukraine next week</p></a>
								<div class="date-time">
								<i class="fa fa-clock-o" aria-hidden="true"></i> 05 March 2018
								</div>
							</div>
						  </div>
					  </div>
				</div>
			</div> <!-- container -->
		</div> <!-- polls-content -->
	</section>
	<section>
		<div class="polls-content-middle">
			<div class="container">
				<h2>OTHER <span>POLLS</span></h2>
					  <div class="row">
						 <div class="col-md-3 col-sm-6">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_5.jpg" alt="image_5">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>UF supports UN's launch of investigation in syria</p></a>
								<div class="date-time">
									<i class="fa fa-clock-o" aria-hidden="true"></i> 01 March 2018
								</div>
							</div>
						  </div>
						 <div class="col-md-3 col-sm-6">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_6.jpg" alt="image_6">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>How the EU is helping Moldovan women to change their country</p></a>
								<div class="date-time">
									<i class="fa fa-clock-o" aria-hidden="true"></i> 27 February 2018
								</div>
							</div> 
						 </div>
						 <div class="col-md-3 col-sm-6">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_7.jpg" alt="image_7">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>EU to launch business support for entrepreneurs in rural Armenia</p></a>
								<div class="date-time">
								<i class="fa fa-clock-o" aria-hidden="true"></i> 27 February 2018
								</div>
							</div>
						 </div>
						 <div class="col-md-3 col-sm-6">
						 	<div class="trending-polls-content">
								<div class="img-span">
									<img src="img/image_8.jpg" alt="image_8">
									<span>Vote: (152)</span>
								</div>
								<a href="#"><p>Success Story: women of Azerbaijan realise their dreams with the EU's support</p></a>
								<div class="date-time">
								<i class="fa fa-clock-o" aria-hidden="true"></i> 026 February 2018
							</div>
						</div>
					</div>
				</div>
				
				<div class="load-button">
					<button type="button" class="btn btn-red">Load More</button>
				</div>
				
			</div> <!-- container -->
			
		</div> <!-- polls-content -->
	</section>