<app-nav-bar></app-nav-bar>
<section>
	<div class="search-polls">
		<div class="container">
				<div class="input-group md-form form-sm form-1 pl-0 search-search">
					<div class="input-group-prepend">
						<span class="input-group-text purple lighten-3" id="basic-text1"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
					</div>
					<input class="form-control my-0 py-1" [(ngModel)]="searchvalue" type="text" placeholder="Search Poll" aria-label="Search">
				</div>
		</div>
	</div>
</section>
<app-category-nav [type]="'poll'"></app-category-nav>
<app-category-page [nav]="false" [searchvalue]="searchvalue"></app-category-page>