.search-search {
    width: 300px;
    float: right;
    margin-top: 22px;
    padding-top: 25px;
    border-radius: 2px;
}
.search-polls {
    overflow: auto;
}
.search-search input {
    border: 1px solid #bdbdbd;
}
.search-search .purple.lighten-3 {
    border: 1px saddlebrown;
}