<app-nav-bar></app-nav-bar>
<div class="main_contact_us">
<section>
  <div class="content-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-12 contact_us">
          <h2>Empowering	Leaders	&	Organizations	With	Extraordinary	Analytics	&	
              Advice</h2>
              <h4>Connect	with	us	to	learn	more	about	how	we	can	help	you	achieve	your	goals
                </h4>

        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="content">
    <div class="container">
      <div class="row contact_us_form">
        <div class="col-md-5 ">
          <div class="addres">
          <h2><i class="fa fa-phone" aria-hidden="true"></i> phone</h2>
          <p>+91 8026650545</p>
<h2><i class="fa fa-envelope-o" aria-hidden="true"></i> mail</h2>
<p>office@nationpulse.com</p>
</div>
<div class="timing">
  <h2>we are available on phone from</h2>
  <p>10 a.m. to 6 p.m. (Monday to Friday)</p>
  <p>10 a.m. to 3 p.m. (Saturday)</p>
</div>
<div class="social_icons">    
    <p><span>Follow us </span>
      <a href="https://www.facebook.com/nationpulse"><i class="fa fa-facebook" aria-hidden="true"></i></a>    
      <a href="https://twitter.com/NationPulse_In"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
      <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCt4BNLkXn37rHtZpxpYYy6A?view_as=subscriber"><i class="fa fa-youtube" aria-hidden="true"></i></a></p>
  </div>

        </div>
        <div class="col-md-7 contact_us_right_from">
          <app-contact-form [type]="'contactus'"></app-contact-form>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<app-footer></app-footer>